#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

clean:
	dh $@
	./waf --nocache clean # Because distclean is too radical: Check with 1.6
	rm -rf .waf-*         # To check
	rm -rf *.pyc          # To check

build:
	dh $@ --before configure
	./waf --nocache configure --prefix=/usr
	dh $@ --after configure --until build
	./waf --nocache build
	dh $@ --remaining

binary:
	dh $@ --until dh_auto_install
	./waf --nocache install --destdir=debian/tmp
	dh $@ --remaining
